<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalculatorServicesClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CalculatorServicesClient.Properties.Settings>
            <setting name="CalculatorServicesClient_Machine1_Machine1" serializeAs="String">
                <value>http://localhost:49360/WebServices/Machine1.asmx</value>
            </setting>
            <setting name="CalculatorServicesClient_Machine2_Machine2" serializeAs="String">
                <value>http://localhost:49360/WebServices/Machine2.asmx</value>
            </setting>
            <setting name="CalculatorServicesClient_Machine3_Machine3" serializeAs="String">
                <value>http://localhost:49360/WebServices/Machine3.asmx</value>
            </setting>
        </CalculatorServicesClient.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
